
MachineSharpLibrary/.vs/MachineSharpLibrary/v15/.suo
MachineSharpLibrary/.vs/MachineSharpLibrary/v15/Server/sqlite3/db.lock
*.cache
MachineSharpLibrary/MachineSharpLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MachineSharpLibrary/MachineSharpLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MachineSharpLibrary/MachineSharpLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.ide
*.ide-wal
*.ide-shm
MachineSharpLibrary/MachineSharpLibrary/obj/Debug/MachineSharpLibrary.csproj.FileListAbsolute.txt
MachineSharpLibrary/MachineSharpLibrary/obj/Debug/MachineSharpLibrary.dll
MachineSharpLibrary/MachineSharpLibrary/test.cs
*.dll
MachineSharpLibrary/MachineSharpLibrary/bin/Debug/MachineSharpLibrary.dll
*.pdb
